<app-interactive-architecture 
    [Architecture]="Architecture" 
    [Primary]="Primary" 
    [Secondary]="Secondary"
    [isTraining]="isTraining"
    [LayerArgs]="LayerArgs"
    [SelectedGraph]="SelectedGraph"
    [PredictionData]="PredictionData"
    [ChosenVariables]="SelectedVariables"
/>
<div class="GraphSelector">
    <button
        class="GraphOption"
        *ngFor="let Option of GraphOptions,let i=index"
        (click)="RenderGraph(i)"
        [style.left]="CalculateLeft(i,27)"
    >{{Option}} Plot</button>
</div>

<div class="LayerControl">
    <button
        *ngFor="let option of LayerOptions,let i=index"
        (click)="AddLayer(option)"
        [style.top]="CalculateLeft(i,25)"
        class="LayerOptionButton"
    >Add {{option}} layer</button>
</div>

<div class="ArchitectureControl">
    <div class="HyperparameterControl">
        <div 
            class="HyperparameterCard"
            *ngFor="let hyperparam of Hyperparameters,let i=index"
            [style.top]="CalculateLeft(i,15)"
        >
            <input 
                class="HyperparameterInput"
                [value]="HyperparameterValues[i]"
                (input)="HandleHyperparamChange($event,i)"
            />
            <h3 class="HyperparameterLabel">{{hyperparam}}</h3>
        </div>
        <div 
        class="TickerField"
        [style.top]="CalculateLeft(Hyperparameters.length,15)"
        >
            <mat-form-field style="width:80%">
                <mat-label>Ticker:</mat-label>
                <mat-select [(ngModel)]="SelectedTicker">
                    @for(Ticker of AvailableTickers; track Ticker){
                        <mat-option [value]="Ticker">{{Ticker}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div 
        class="NormalizationField"
        [style.top]="CalculateLeft(Hyperparameters.length,15)"
        >
            <mat-form-field style="width:80%">
                <mat-label>Norm method:</mat-label>
                <mat-select [(ngModel)]="SelectedMethod">
                    @for(Method of NormMethods; track Method){
                        <mat-option [value]="Method">{{Method}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div 
        class="VariablesField"
        [style.top]="CalculateLeft(Hyperparameters.length+1,15)"
        >
            <mat-form-field style="width:80%">
                <mat-label>Variables:</mat-label>
                <mat-select [(ngModel)]="SelectedVariables" multiple>
                    @for(Variable of VariableOptions; track Variable){
                        <mat-option [value]="Variable">{{Variable}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <button 
        class="ConstructArchitecture"
        (click)="BuildRunArch()"
    >Build and train</button>
    <div *ngFor="let Layer of Architecture, let i = index" class="LayerParameters" [style.top]="CalculateLeft(i+5,12)">
        <input
            class="CellInput"
            [value]="Architecture[i].nodes"
            (input)="HandleCellChange($event,i)"
        />
        <h3 class="CellLabel">Cell count:</h3>
        <h3 class="DropoutLabel">Dropout %{{LayerArgs[i].dropout}}</h3>
        <input
            class="DropoutSlider"
            type="range"
            min=0.00
            max=0.85
            step="0.05"
            [value]="LayerArgs[i].dropout"
            (click)="HandleDropoutChange($event,i)"
        />
        <button 
            class="RemoveLayer"
            (click)="RemoveLayer(i)"
        >Remove</button>
    </div>
</div>