@use '../Variables.scss';
.ChartContainer{
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    color: var(--secondary_color);
    background-color: var(--primary_color);
}