<router-outlet />
<!--<app-univariate-chart [UnivariateData]="CandlestickData"/>-->
<app-api-interface
    (TickerData)="HandleIncomingData($event)"
    [OnHandTickers]="AvailableTickers"
    *ngIf="ChosenDashboard==='API Interface'"
/>
<app-candlestick-chart
    [Data]="CandlestickData"
    *ngIf="ChosenDashboard==='API Interface'"
/>

<app-custom-architecture
    [Primary]="Primary_Color"
    [Secondary]="Secondary_Color"
    [AvailableTickers]="AvailableTickers"
    *ngIf="ChosenDashboard==='Custom Architecture'"
/>

<app-dashboard-controls 
    (DasboardChangeEvent)="HandleDashboardChange($event)"
    (ChildBoolean)="HandleInput($event)"
    [RGBAPrimary]="Primary_Color"
    [RGBASecondary]="Secondary_Color"
/>

<div *ngIf="ChildBooleanPrimary" class="PrimaryColorContainer">
    <color-sketch [color]="Primary_Color" (onChangeComplete)="HandlePrimaryChange($event)"/>
</div>

<div *ngIf="ChildBooleanSecondary" class="SecondaryColorContainer">
    <color-sketch [color]="Secondary_Color" (onChangeComplete)="HandleSecondaryChange($event)"/>
</div>