<div class="InterfaceControls">
    <br/>
    <div class="DownloadControls">
        <mat-form-field appearance="fill" style="background-color:var(--primary_color);color:var(--secondary_color);width:80%;">
            <mat-label>Start date:</mat-label>
            <input matInput [matDatepicker]="StartDate" [(ngModel)]="SelectedStartDate"/>
            <mat-datepicker-toggle matIconSuffix [for]="StartDate"/>
            <mat-datepicker #StartDate/>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill" style="width:80%">
            <mat-label>End date:</mat-label>
            <input matInput [matDatepicker]="EndDate" [(ngModel)]="SelectedEndDate"/>
            <mat-datepicker-toggle matIconSuffix [for]="EndDate"/>
            <mat-datepicker #EndDate/>
        </mat-form-field>
    </div>
    <div class="IntervalField">
        <mat-form-field style="width:80%">
            <mat-label>Interval:{{SelectedInterval}}</mat-label>
            <mat-select [(ngModel)]="SelectedInterval">
                @for(option of IntervalOptions; track option){
                    <mat-option [value]="option.value">{{option.label}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    <div class="TickerControl">
        <button 
            class="AddTicker"
            (click)="AppendTicker()"
        >Add</button>
        <button 
            class="RemoveTicker"
            (click)="RemoveTicker()"
        >Remove</button>
        <input 
            class="TempTicker"
            [value]="TempTicker"
            (input)="HandleTickerInput($event)"
            placeholder="Enter a ticker symbol here"
        />
        <ul class="TickerLiContainer">
            <li
                *ngFor="let Ticker of TickersToDownload,let i=index"
                class="TickerLi"
                style=`top:${i*5}%`
            >{{Ticker}}</li>
        </ul>
    </div>
    <button
        class="DownloadTickers"
        (click)="DownloadTickers()"
    >Download</button>
    <div class="TickerField">
        <mat-form-field style="width:80%">
            <mat-label>Ticker:{{SelectedTicker}}</mat-label>
            <mat-select [(ngModel)]="SelectedTicker">
                @for(Ticker of AvailableTickers; track Ticker){
                    <mat-option [value]="Ticker">{{Ticker}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    <button 
        class="RenderData"
        (click)="FetchTickerData()"
    >Render {{SelectedTicker}} data</button>
</div>